<div class="image-input image-input-outline" id="{{ widget.attrs.id }}" style="background-image: url(/static/assets/media/users/blank.png)">
    
    <div class="image-input-wrapper" style="background-image: url({{ widget.value.url }})"></div>

    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
           data-action="change" data-toggle="tooltip" title="Change avatar">
        <i class="fa fa-pen icon-sm text-muted"></i>
        <input type="file" name="{{ widget.name }}" accept=".png, .jpg, .jpeg"/>
        <input type="hidden" name="{{ widget.name }}_remove"/>
    </label>

    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
          data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
        <i class="ki ki-bold-close icon-xs text-muted"></i>
    </span>

    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
          data-action="remove" data-toggle="tooltip" title="Remove avatar">
        <i class="ki ki-bold-close icon-xs text-muted"></i>
    </span>
</div>

