{% extends "base/base.html" %}
{% load static %}
{% block content %}

<body
    id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading"
>
    {% include "parts/header-mobile.html" %}

    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            {% include "parts/aside.html" with menu_parent="group-all" menu_child="group-create" %}

            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                {% include "parts/header.html" %}

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h3 class="card-label">
                                            Add group
                                        </h3>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <form class="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        {% for field in form %}
                                        <div class="form-group row">
                                            <label class="col-form-label text-right col-lg-3 col-sm-12">
                                                {% if field.field.required %}
                                                    <b>{{ field.label }}</b>
                                                {% else %}
                                                    {{ field.label }}
                                                {% endif %}
                                            </label>

                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <span style="color:red;">{{ field.errors }}</span>

                                                {{ field }}

                                                {% if field.name == "course" %}
                                                    <div id="course-info"
                                                         class="mt-2"
                                                         style="color:red; font-size:14px;">
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}

                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <button type="submit" class="btn btn-primary mr-2" name="save-create">
                                                        Save and add new
                                                    </button>
                                                    <button type="submit" class="btn btn-primary mr-2" name="saved">
                                                        Save
                                                    </button>
                                                    <a href="{% url 'manager:group-list' %}" class="btn btn-secondary">
                                                        Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                {% include "parts/footer.html" %}
            </div>
        </div>
    </div>

    {% include "parts/user-panel.html" %}
    {% include "parts/scrolltop.html" %}

<script>
document.addEventListener("DOMContentLoaded", function () {

    function initCourseListener() {
        const courseSelect = document.querySelector("select[name='course']");
        const infoBox = document.getElementById("course-info");
        const COURSE_INFO_URL = "{% url 'manager:ajax_course_info' %}";

        if (!courseSelect || !infoBox) {
            console.warn("Course select yoki infoBox topilmadi");
            return;
        }

        // Agar select oldin tanlangan bo'lsa, info ko'rsatish
        if (courseSelect.value) {
            fetch(`${COURSE_INFO_URL}?course_id=${courseSelect.value}`)
                .then(res => res.json())
                .then(data => {
                    if (data.price && data.duration) {
                        infoBox.innerHTML = `Price: <b>${data.price}</b> | Duraction: <b>${data.duration}</b>`;
                    }
                });
        }

        courseSelect.addEventListener("change", function () {
            const courseId = this.value;

            if (!courseId) {
                infoBox.innerHTML = "";
                return;
            }

            fetch(`${COURSE_INFO_URL}?course_id=${courseId}`)
                .then(res => res.json())
                .then(data => {
                    if (data.price && data.duration) {
                        infoBox.innerHTML = `Price: <b>${data.price}</b> | Duraction: <b>${data.duration}</b>`;
                    } else {
                        infoBox.innerHTML = "";
                    }
                })
                .catch(err => {
                    console.error("AJAX error:", err);
                    infoBox.innerHTML = "";
                });
        });
    }

    setTimeout(initCourseListener, 500);

});
</script>


</body>
{% endblock %}
